<% if (success && success.length > 0) { %>
<div
	class="mb-4 rounded-md bg-green-100 border border-green-300 text-green-700 px-4 py-3"
>
	<%= success[0] %>
</div>
<% } %> <% if (error && error.length > 0) { %>
<div
	class="mb-4 rounded-md bg-red-100 border border-red-300 text-red-700 px-4 py-3"
>
	<%= error[0] %>
</div>
<% } %>
